@model HomeModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="justify-content-center">
    <h1 class="display-4">My Finance Web</h1>
    <p>Controle de Finanças Pessoais</p>
</div>
